<h1>Listing Booking</h1>
 
<table>
  <tr>
      <th>Month</th>
      <th>dd</th>
      <th>yyyy</th>
      <th>hh</th>      
      <th>mm</th>      
      <th>ampm</th>      
      <th>pickup</th>      
      <th>dropoff</th>    
      <th>passengers</th>      
      <th>phone</th>      
      <th>email</th>      
  </tr>
 
  <% @books.each do |book| %>
    <tr>
      <td><%= book.month %></td>
      <td><%= book.dd %></td>        
      <td><%= book.yyyy %></td>
      <td><%= book.hh %></td>
      <td><%= book.mm %></td>
      <td><%= book.ampm %></td>
      <td><%= book.pickup %></td>
      <td><%= book.dropoff %></td>
      <td><%= book.passengers %></td>
      <td><%= book.phone %></td>
      <td><%= book.email %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
    </tr>
  <% end %>
</table>
