<p>
  <strong>Month:</strong>
  <%= @book.month %>
</p>
 
<p>
  <strong>Dd:</strong>
  <%= @book.dd %>
</p>
 
<p>
  <strong>Yyyy:</strong>
  <%= @book.yyyy %>
</p>
 
<p>
  <strong>Hh:</strong>
  <%= @book.hh %>
</p>
 
<p>
  <strong>Mm:</strong>
  <%= @book.mm %>
</p>
 
<p>
  <strong>Ampm:</strong>
  <%= @book.ampm %>
</p>
 
<p>
  <strong>Pickup:</strong>
  <%= @book.pickup %>
</p>
 
<p>
  <strong>Dropoff:</strong>
  <%= @book.dropoff %>
</p>
 
<p>
  <strong>Passengers:</strong>
  <%= @book.passengers %>
</p>
 
<p>
  <strong>Phone:</strong>
  <%= @book.phone %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>
 